.formContainer {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2c3e50;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #ecf0f1;
}

.title {
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #094135;
  text-align: center;
}

.formContainer label {
  font-size: 14px;
  font-weight: 600;
  color: #ecf0f1;
}

.formContainer select,
.formContainer input[type="date"],
.formContainer input[type="number"],
.formContainer textarea {
  padding: 8px;
  margin-bottom: 5px;
  background-color: #34495e;
  border: 1px solid #1abc9c;
  border-radius: 4px;
  color: #ecf0f1;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.formContainer button[type="submit"] {
  padding: 10px;
  background-color: #16a085;
  color: #ecf0f1;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.formContainer button[type="submit"]:hover {
  background-color: #1abc9c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.section {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section label {
  margin-right: 10px;
}
.section span {
  font-size: 24px;
  font-weight: bold;
  color: #1abc9c;
  cursor: pointer;
  margin-left: 10px;
}

.section span:hover {
  color: #16a085;
}

@media screen and (max-width: 800px) {
  .formContainer {
    width: 90%;
  }
}
