.updateForm {
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
  font-size: 14px;
  color: #14532d;
}

.updateForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.updateForm input {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.updateForm button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #14532d;
  color: #f1f1f1;
  font-weight: 600;
  cursor: pointer;
}

.updateForm button:hover {
  background-color: #1e8a49;
}
table {
  margin-top: 20px;
}
span {
  display: flex;
  flex-direction: row;
}
.iconsRow img {
  filter: opacity(90%);
  margin: 2px;
  width: 18px;
  cursor: pointer;
}
.iconsRow img:hover {
  filter: opacity(60%);
}
